* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Landingpagecontainer {
    width: 100%;
    min-height: 100vh;
    background: url("/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.Landingpagecontainer nav {
    padding-inline: 1.2rem;
    padding-block: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Landingpagecontainer nav h2 {
    font-size: 1.8rem;
    font-weight: 500;
}

.Landingpagecontainer nav .navlist {
     display: flex;
     gap: 1.6rem;
     cursor: pointer;
}

.landingMainContainer {
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
    height: 70vh;
    align-items: center;
}

.landingMainContainer > div:nth-child(1) {
    font-size: 2rem;
}

.landingMainContainer > div:nth-child(1) div[role='button'] {
    background: #D97500;
    width: fit-content;
    padding: 1rem;
    border-radius: 20px;   
    margin-top: 1.8rem;
}

.landingMainContainer > div:nth-child(1) div[role='button'] a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.landingMainContainer > div:nth-child(2) img {
    max-height: 70vh;
    width: auto;
}