


.Landingpagecontainer {
    width: 100%;
    height: 100vh;
    background: url("/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.Landingpagecontainer nav {
    padding-inline: 1.2rem;
    padding-block:  1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Landingpagecontainer nav h2 {
    font-size: 1.8rem;
    font-size: 500;
}

.Landingpagecontainer nav .navlist {
     display: flex;
     gap : 1.6rem;
     cursor: pointer;
}

.landingMainConatiner {
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
    height: 70vh;
    align-items: center;
}

.landingMainConatiner > div:nth-child(1) {
    font-size: 2rem;
 
}

.landingMainConatiner > div:nth-child(1) div[role='button'] {
    background: #D97500;
    width: fit-content;
    padding: 1rem;
    border-radius: 20px;   
    margin-top: 1.8rem;
}

.landingMainConatiner > div:nth-child(1) div[role='button'] a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}


.landingMainConatiner > div:nth-child(2) img {
    height: 80vh;
    width: auto;
}


.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;

}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}



.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}